<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="turtlebot">

    <xacro:include filename="$(find turtle_brick)/usefulstuff.xacro" />

    <!-- Begin_Citation[1] -->
    <xacro:property name="yaml" value="$(find turtle_brick)/turtle.yaml" />
    
    <!-- Begin_Citation[2] -->
    <xacro:property name="config" value="${xacro.load_yaml(yaml)['/**']['ros__parameters']}"/>
    <!-- End_Citation[2] -->

    <xacro:property name="platform_height" value="${config['platform_height']}" />
    <xacro:property name="wheel_radius" value="${config['wheel_radius']}" />

    <xacro:property name="platform_radius" value="1" />
    <!-- End_Citation[1] -->

    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 .5" />
            </geometry>
            <material name="cyan"/>
        </visual>
    </link>

    <joint name="pillar_joint" type="fixed">
        <origin xyz="0 0 .25" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="pillar_link"/>        
    </joint>

    <link name="pillar_link">
        <visual>
            <origin xyz="0 0 ${(platform_height - ((2 * wheel_radius) + .5 + .2)) / 2}" rpy="0 0 0"/>
            <geometry>
                <cylinder length="${platform_height - ((2 * wheel_radius) + .5 + .2)}" radius="0.1" />
            </geometry>
            <material name="grey"/>
        </visual>
    </link>

    <joint name="platform_joint" type="continuous">
        <origin xyz="0 0 ${platform_height - ((2 * wheel_radius) + .5 + .2) + .05}" rpy="0 0 0"/>
        <parent link="pillar_link"/>
        <child link="platform_link"/>
        <axis xyz="0 1 0"/>
    </joint>

    <link name="platform_link">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <cylinder length=".1" radius="${platform_radius}" />
        </geometry>
        <material name="yellow"/>
    </visual>
    </link>

    <joint name="stem_joint" type="continuous">
        <origin xyz="0 0 -.25" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="stem_link"/>
        <axis xyz="0 0 1"/>
    </joint>

    <link name="stem_link">
        <visual>
            <origin xyz="0 0 -.1" rpy="${pi} 0 0"/>
            <geometry>
                <cylinder length=".2" radius="0.2" />
            </geometry>
            <material name="purple"/>
        </visual>
    </link>

    <joint name="wheel_joint" type="continuous">
        <origin xyz="0 0 ${-1 * wheel_radius -0.2}" rpy="0 0 0"/>
        <parent link="stem_link"/>
        <child link="wheel_link"/>
        <axis xyz="0 1 0"/>
    </joint>

    <link name="wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
            <geometry>
                <cylinder length=".2" radius="${wheel_radius}" />
            </geometry>
            <material name="purple"/>
        </visual>
    </link>
    
</robot>